/* Here the root colors are defined */
:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
}
/* Defining universal selector so it will be applied all the items in html */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans-serif;
}
/* Body styling starts from here */

body {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--light);
  justify-content: center;
  align-items: center;
}
/* Main div styling starts from here */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}
/* Heading section start form here*/

.heading {
  margin: 20px;
}
/* submain starts from here */
.sub-main {
  width: 100%;
  margin: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}
/* Form input and button styling starts from herre */

#input {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--darker);
  color: var(--light);
}
/* Form add button styling starts from here */

#add {
  background-color: var(--darker);
  color: var(--light);
  border-radius: 20px;
  outline: var(--light);
  cursor: pointer;
  pointer-events: none;
}
/* Add button hover effect starts from here */
#add.active {
  background-color: var(--darker);
  pointer-events: all;
  color: var(--light);
}
/* Styling for placeholder text starts from here */
#input::placeholder {
  color: var(--gray);
}
/* List of items in the list box starts from here */
.tasks {
  width: 100%;
  margin-top: 5px;
  border-radius: 20px;
}
/* Each item styleing starts from here */
.item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--darker);
}
/* Item delete icon stylinbg starts from here*/

.fa-xmark {
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}
/* Hover effects on each task starts form heere */
.fa-strikethrough {
  cursor: pointer;
}
/* Line through styling starts from here */
.item.completed h5 {
  text-decoration: line-through;
  text-decoration-color: var(--darkest);
  text-decoration-thickness: 2px;
}
/* Footer styling starts from here */
.spancount {
  display: flex;
  border-radius: 20px;
  width: 100%;
  /* background-color: var(--darker); */
  margin-top: 10px;
  padding: 10px;
}
/* styling for list item count */

#spanNumber {
  margin-right: 10px;
}
